
<div class="container-fluid clearfix">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <div class="d-inline-flex p-4">
        <form [formGroup]="paceForm"
              (ngSubmit)="onSubmitForm()">
          <div class="row pb-1">
            <h5>distance_</h5>
          </div>

          <div class="row">
            <input type="number"
                   id="km"
                   formControlName="kilometers"
                   placeholder="kilometers"
                   pattern="^[0-9]\d*$"
                   min="0" />
            <span>km</span>
            <input type="number"
                   id="m"
                   formControlName="meters"
                   placeholder="meters"
                   pattern="^\d{1,3}$"
                   min="0"
                   max="999" />
            <span>m</span>
            <input type="checkbox"
                   id="toggle"
                   formControlName="isMilesSelected"
                   ([value])=isMilesSelected />
            <label for="toggle">miles</label>


            <div class="pt-1">
              <select formControlName="selectedRace"
                      #drpdwnSelected>
                <option value="" disabled selected hidden>--Or pick a Race Distance--</option>
                <option value="5">5 km</option>
                <option value="10">10 km</option>
                <option value="21.0975">Half Marathon ( 21.0975 km )</option>
                <option id="marathon" value="42.195">Marathon (42.195 km)</option>
              </select>



              <button [disabled]="!distanceButtonEnabled"
                      (click)="calculateDistance()"
                      class="button  pr-1">
                calculate distance
              </button>
            </div>
          </div>

          <div class="row pb-1 pt-1">
            <h5>time_</h5>
          </div>
          <div class="row">
    
            <input type="number"
                   id="h"
                   formControlName="hours"
                   placeholder="hours"
                   min="0"
                   max="99">
            <span>:</span>
            <input type="number"
                   id="minutes"
                   formControlName="minutes"
                   placeholder="min"
                   min="0"
                   max="59"
                   pattern="^[1-5]?[0-9]$" />
            <span>:</span>
            <input type="number"
                   id="sec"
                   formControlName="seconds"
                   placeholder="seconds"
                   min="0"
                   max="59"
                   pattern="^[1-5]?[0-9]$" />

            <button [disabled]="!timeButtonEnabled"
                    (click)="calculateTime()"
                    type="button"
                    class="button">
              calculate time
            </button>
          </div>

          <p *ngIf=isRaceSelected>
            Fill in the <span>{{drpdwnSelected.value}}K</span> world record time for  <a href="#" (click)="WrTimeMenclicked()">MEN</a> or <a href="#" (click)="WrTimeWomenclicked()">WOMEN</a>
          </p>
          <div class="row pt-1">
            <h5>pace_</h5>
          </div>
          <div class="row">
            <input type="number"
                   id="pMin"
                   formControlName="paceMinutes"
                   placeholder="minute"
                   min="0"
                   max="59" /><span>min</span>
            <input type="number"
                   id="pSec"
                   formControlName="paceSeconds"
                   placeholder="seconds"
                   min="0"
                   max="59" /> <span>sec / Km</span>
            <button [disabled]="!paceButtonEnabled"
                    (click)="calculatePace()"
                    class="button">
              calculate pace
            </button>
          </div>
        
          <div>

            <a [routerLink]="" (click)="refresh()">
              clear form
            </a>
          </div>
        </form>

      </div>
    </div>
    <div class="col-md-4">

    </div>
      </div>

    
    </div>
